#main {
    margin-right: auto;
    width: 70%;
}

.update-cart {
    width: 30px;
}

.important {
    color: red;
} 

/*.artikel{
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 160px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}*/

#cart {
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid #818285;
    background-color: #f2f2f2;
    min-width: 30%;
}

.short_input {
    width: 30px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}